In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.4'

In [3]:
list_s=[1,2,-3,6.3,'khushi']
print(list_s)

[1, 2, -3, 6.3, 'khushi']

In [4]:
series1=pd.Series(list_s)
print(series1)

0         1
1         2
2        -3
3       6.3
4    khushi
dtype: object

In [5]:
type(series1)

pandas.core.series.Series

In [6]:
series2=pd.Series([1,2,3,4])
print(series2)

0    1
1    2
2    3
3    4
dtype: int64

In [7]:
empty_s=pd.Series([])
print(empty_s)

Series([], dtype: float64)

In [8]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(series3)

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float)
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
dtype: float64

In [10]:
series3=pd.Series([1,2,3,4],index=['a','b','c','d'],dtype=float,name="data values")
print(series3)

a    1.0
b    2.0
c    3.0
d    4.0
Name: data values, dtype: float64

 scaler vlaues = single values

In [11]:
scaler_s=pd.Series(0.5,index=[1,2,3])
print(scaler_s)

1    0.5
2    0.5
3    0.5
dtype: float64

In [13]:
dict_s=pd.Series({'a':1,'b':2})
print(dict_s)

a    1
b    2
dtype: int64

In [14]:
s4=pd.Series([1,2,3,4,5])
print(s4)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
s4[0]

1

In [16]:
s4[4]

5

In [17]:
s4[0:3]

0    1
1    2
2    3
dtype: int64

In [18]:
max(s4)

5

In [19]:
min(s4)

1

In [21]:
s4[s4>3]

3    4
4    5
dtype: int64

In [22]:
s4

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [24]:
s5=pd.Series([1,2,3,4,5])
print(s5)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [25]:
s4+s5

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [26]:
s4-s5

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [27]:
s4*s5

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [28]:
s6=pd.Series([1,2,3])
print(s6)

0    1
1    2
2    3
dtype: int64

In [29]:
s5+s6

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64